/*genaric tags*/
body{
    background-color: lightgray
}
/*end generic tags*/

/*colors*/
.teal{
    color: #96f4f7
}
.light-blue{
    color: #c1f7f7
}
.light-purple{
    color: #ecd9e9
}
.salmon{
    color: #ffcfd7
}
.light-red{
    color: #ffbdc3
}
/*end colors*/

/*genaric classes*/
.header{
    font-family: Lucida Calligraphy;
    font-size: 20px;
    font-weight: bold;
}
/*end genaric classes*/

/*technically unimportant*/
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}