
/*genaric tags*/
body{
    background-color: rgb(250, 250, 250);
}
h1{
    font-family: arial;
}
p{
    font-size: 20px;
}
/*end generic tags*/

/*bg colors*/
.teal{
    background-color: #96f4f7;
}
.light-blue{
    background-color: #c1f7f7
}
.light-purple{
    background-color: #ecd9e9;
}
.salmon{
    background-color: #ffcfd7;
}
.light-red{
    background-color: #ffbdc3;
}
.section-bg{
    background-color: #ede6e3;
}
/*end colors*/

/*text colors*/
.textteal{
    color: #96f4f7;
}
.textlight-blue{
    color: #c1f7f7
}
.textlight-purple{
    color: #ecd9e9;
}
.textsalmon{
    color: #ffcfd7;
}
.textlight-red{
    color: #ffbdc3;
}
.black-link{
    color: black;
}

/*genaric classes*/
.header{
    font-family: Lucida Calligraphy;
    font-size: 45px;
    font-weight: bold;
}
.light-bg{
    color: black;
}
.nobootstrap-active{
    color:rgb(0, 0, 0)
}
.carousel-inactive{
    color: rgb(24, 24, 24)
}
.homepageimages{
    align-items: right;
}
.brand-circle{
    border-radius: 90%;
    width: 15%
}
.smallheader{
    font-family: Lucida Calligraphy;
    font-size: 33px;
}
.footer{
    background-color: #c7ceea
}
.footer>.left{
    text-align: left;
}
.footer>.right{
    text-align: right;
}
/*end genaric classes*/

/*genaric ids*/
#banner{
    border: solid;
    width: 800px
}
/*end genaric ids*/

/*technically unimportant*/
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
/*end techinally unimportant*/